<!-- Section Children Festival Info -->
<section class="section-children-fest-information">
  <div class="container">
    <div class="section-thesis">
      {{{page.text}}}
    </div>
  </div>
</section>
<!-- Section Children Festival Program -->
<section class="section-children-fest-program">
  <div class="container">
    <h2 class="section-title">
      Детская <span class="font-red">Программа</span>
    </h2>
    <div class="cards-wrapper">
      {{!-- {{#each days}}
      <a href="/program/day/{{programDay}}" class="card card-program">
        <div class="card-badge">
          <p>{{genre}}</p>
        </div>
        <img src="/uploads/{{image}}" alt="" class="card-image" />
        <div class="card-date">
          <h6>{{date}}</h6>
        </div>
        <div class="card-program-content">
          <div class="info">
            <h6>{{title}}</h6>
            <p>Начало в {{startTime}}</p>
            <p>{{place}}</p>
          </div>
        </div>
        <div class="card-program-icon">
          <div class="animated-border"></div>
          <i class="material-icons">arrow_forward</i>
        </div>
      </a>
      {{/each}} --}}
    </div>
  </div>
</section>
<!-- Section Children Festival Slider -->
<!-- Slick Slider CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"
/>
<section class="section-children-fest-slider">
  <div
    class="slider slider-nav slick-gallery"
    data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "centerMode": false, "focusOnSelect": true, "variableWidth": true, "autoplay": false, "responsive": [{"breakpoint": 1400, "settings": {"centerMode": true}}]}'
  >
    {{#each page.images}}
    <div class="gallery-image-wrapper">
      <img src="/uploads/{{sliderImage}}" loading="lazy" class="gallery-image" />
    </div>
    {{/each}}
  </div>
</section>

<!-- Slider JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"
></script>
<script src="../js/slider-children.js"></script>