<!-- Section Renters -->
<section class="section-renters">
  <div class="container">
    <h2 class="section-title">
      Ресторанный <span class="font-red">Дворик</span>
    </h2>
    {{#if renters}}
    <div class="cards-wrapper">
      {{#each renters}}
      <div class="card">
        <img
          src="/uploads/{{cardImage}}"
          alt=""
          class="card-image"
        />
        <h6 class="card-title">{{cardTitle}}</h6>
        <div class="card-overlay">
          <h6>{{cardTitle}}</h6>
          <p>{{cardText}}</p>
          <a target="_blank" href="{{cardLink}}" class="btn"
            >Перейти на сайт</a
          >
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</section>
<!-- Section For Renters -->
<section class="section-for-renters">
  <div class="container">
    <h2 class="section-title">Арендаторам</h2>
    <div class="flex-container">
      <div class="renters-text">
        {{{page.text}}}
      </div>
      <div class="cards-wrapper">
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">calendar_today</i>
          </div>
          <h6 class="card-title">24 дня</h6>
          <p class="card-description">
            длится фестиваль <br />
            c 1.07 по 24.07
          </p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">person_outline</i>
          </div>
          <h6 class="card-title">5000 гостей</h6>
          <p class="card-description">
            посещают фестиваль <br />
            ежедневно
          </p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">attach_money</i>
          </div>
          <h6 class="card-title">500-700 рублей</h6>
          <p class="card-description">
            составляет средний чек на человека
          </p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">attach_money</i>
          </div>
          <h6 class="card-title">Заявка для арендаторов</h6>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdE22wmX4Zr6UCpuUZ3MrrOzkVqod7SBsNeGT2o-dIcJabeAg/viewform"
            class="btn card-btn"
            >Заявка</a
          >
        </div>
      </div>
      <div class="renters-info">
        <div class="image-block">
          <img src="/images/renters-1.jpg" alt="" />
        </div>
        <div class="image-block">
          <img src="/images/renters-2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>