<!-- Section Welcome -->
<section class="section-welcome">
  <div class="slider-welcome">
    <div class="slides">
      {{#each images}}
      <img class="slide" src="/uploads/{{sliderImage}}" alt="" />
      {{/each}}
    </div>
    <div class="buttons">
      <div id="prev" class="btn-slider btn-left">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
      <div id="next" class="btn-slider btn-right">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
    {{#if image}}
    <div class="phone-background">
      <img src="/uploads/{{image}}" alt="" />
    </div>
    {{/if}}
  </div>
  <a href="#nextSection" class="btn-scroll-down">
    <i href="#nextSection" class="material-icons">arrow_downward</i>
  </a>
</section>
<!-- Section Information -->
<section class="section-information" id="nextSection">
  <div class="container">
    <h2 class="section-title">
      О <span class="font-red">Фестивале</span>
    </h2>
    <div class="cards-wrapper">
      {{#each cards}}
      <div class="card">
        <div class="card-icon">
          <i class="material-icons">{{cardIcon}}</i>
        </div>
        <h6 class="card-title">{{cardTitle}}</h6>
        <p class="card-description">{{cardText}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- Section Schema  -->
<section class="section-festival-schema">
  <div class="container">
    <h2 class="section-title">
      Схема <span class="font-red">Фестиваля</span>
    </h2>
    <img class="img-schema" src="images/schema.jpg" alt="" />
  </div>
</section>
<!-- Section Organizators -->
{{#if sponsors}}
<section class="section-sponsors">
  <div class="container">
    <h2 class="section-title">
      <span class="font-red">Спонсоры</span>
    </h2>
    <div class="cards-wrapper">
      {{#each sponsors}}
      <div class="card">
        <img src="/uploads/{{cardImage}}" class="card-image" alt="">
      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
{{#if organizators}}
<!-- Section Organizators -->
<section class="section-organizators">
  <div class="container">
    <h2 class="section-title">
      <span class="font-red">Организаторы</span>
    </h2>
    <div class="cards-wrapper">
      {{#each organizators}}
        <div class="card">
          <img src="/uploads/{{cardImage}}" class="card-image" alt="">
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
{{#if mediapartners}}
<!-- Section Organizators -->
<section class="section-mediapartners">
  <div class="container">
    <h2 class="section-title">
      <span class="font-red">Медиапартнеры</span>
    </h2>
    <div class="cards-wrapper">
      {{#each mediapartners}}
        <div class="card">
          <img src="/uploads/{{cardImage}}" class="card-image" alt="">
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
{{#if supporters}}
<!-- Section Supporters -->
<section class="section-supporters">
  <div class="container">
    <h2 class="section-title">
      При <span class="font-red">Поддержке</span>
    </h2>
    <div class="cards-wrapper">
      {{#each mediapartners}}
        <div class="card">
          <img src="/uploads/{{cardImage}}" class="card-image" alt="">
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}
<!-- Slider JS -->
<script src="/js/slider.js"></script>
{{!-- Smooth Scroll Button JS --}}
<script src="/js/scroll-button.js"></script>